body{
    animation: wizz .3s ease-in-out 1 backwards;
}
@keyframes wizz {
    0% {
      transform: translateX(-3vw) rotate(-5deg);
    }
    15% {
      transform: translateX(3vw) rotate(0deg);
    }
    30% {
      transform: translateX(-3vw) rotate(5deg);
    }
    45% {
      transform: translateX(3vw) rotate(0deg);
    }
    60% {
      transform: translateX(-3vw) rotate(-5deg);
    }
    75% {
      transform: translateX(3vw) rotate(0deg);
    }
    90% {
      transform: translateX(-3vw) rotate(5deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }